RewriteEngine On
RewriteBase /

# Sirva arquivos/pastas reais normalmente
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Rotas amigáveis (páginas)
RewriteRule ^$ index.php [L]
RewriteRule ^login$ index.php [L]
RewriteRule ^dashboard$ app/views/user/dashboard.php [L]
RewriteRule ^admin_dashboard$ app/views/admin/admin_dashboard.php [L]
RewriteRule ^admin_users$ app/views/admin/admin_users.php [L]
RewriteRule ^admin_fleet$ app/views/admin/admin_fleet.php [L]
RewriteRule ^fazendas$ app/views/admin/admin_farms.php [L]
RewriteRule ^comparativo$ app/views/admin/admin_comparativo.php [L]

# Endpoints (APIs)
RewriteRule ^apontamentos$ app/views/user/fetch_apontamentos.php [L]
RewriteRule ^equipamentos$ app/views/user/get_equipamentos.php [L]
RewriteRule ^get_fazendas$ app/views/user/get_fazendas.php [L]
RewriteRule ^get_fazenda_por_id$ app/views/admin/get_fazenda_por_id.php [L]
RewriteRule ^fleet_actions$ app/views/admin/fleet_actions.php [L]
RewriteRule ^salvafda$ app/views/admin/salvar_fazenda.php [L]
RewriteRule ^importar_fazendas$ app/views/admin/importar_fazendas_csv.php [L]
